.flashes h4 {
    line-height: 2;
}

.flash-wrapper {
    margin-top: 4rem;
}

.page-headers {
    color: #29580a;
}

.cta-link {
    color: #212529;
    text-decoration: underline;
}

.cta-link:hover {
    color: #4CAF50;
}


/* Recipes buttons */
.btn {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0.5;
  padding: 16px 20px;
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-recipes {
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
}

.btn-recipes:hover {
  opacity: 1;
}

.btn-edit {
    background-color: #e68e3c;
    width: 98%;
}

.btn-delete {
    background-color: #cf5a48;
    width: 98%;
}

.btn-cancel {
    background-color: #4CAF50;
    width: 98%;
}


/* Wrap body content */
.body-wrapper {
    margin-top: 1rem;
}

/* Recipe cards */
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

/* Add Recipe form */
.form-icon {
    color: #4CAF50;
    font-size: 16px;
}

/* Recipe page */
.col-md-5 img {
    margin: auto;
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

/* Footer */
footer {
  padding: 15px 0 10px;
  background-color: black;
  color: white;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.general-sub {
    padding-top: 10px;
    font-size: 18px;
}

.footer-body {
    font-size: 14px;
}

.footer-icons {
    color: #4CAF50;
    font-size: 24px;
    margin-top: 25px;
}

.footer-icons:hover {
    color: yellowgreen;
}

.footer-links {
    color: #4CAF50;
}

.footer-links:hover {
    color: yellowgreen;
}