.col-md-5 img {
    margin: auto;
    width: 100%;
}

.flashes h4 {
    line-height: 2;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Wrap body content */
.body-wrapper {
    margin-top: 5rem;
}

/* Recipe cards */
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
