<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css')}}" />
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar"> 
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">All Recipes</a></li>
            <li><a href="{{ url_for('saved') }}">Saved Recipes</a></li>
            <li><a href="{{ url_for('addrecipe') }}">Add A Recipe</a></li>
        </ul>
    </nav>

    <!---------------------------- Main Content ----------------------------->

    <div class="container">
      {% block content %} 
      {% endblock %}
    </div>

    <!---------------------------- /Main Content ----------------------------->
    
</body>
</html>