{% extends "base.html" %}
{% block content %}

<div class="container body-wrapper">
    <h1 class="text-center page-headers">{{ page_title }}</h1>
    <br>

    <div class="row card bg-light mx-auto mb-3">
        <form class="col-12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe Name -->
            <div class="row my-3">
                <div class="col-6">
                    <i class="fas fa-edit form-icon"></i>
                    <label for="recipe_name" class="form-label"><strong>Recipe Name</strong></label>
                    <input type="text" class="form-control" id="recipe_name" name="recipe_name"
                        value="{{ recipe.recipe_name }}" minlength="5" maxlength="50" required>
                </div>
                <!-- Recipe Image URL -->
                <div class="col-6">
                    <i class="fas fa-file-image form-icon"></i>
                    <label for="recipe_image" class="form-label"><strong>Image URL</strong></label>
                    <input type="url" class="form-control" id="recipe_image" name="recipe_image"
                        value="{{ recipe.recipe_image }}" required>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row my-3">
                <div class="col">
                    <i class="fas fa-align-left form-icon"></i>
                    <label for="recipe_decription"><strong>Recipe Description</strong></label>
                    <textarea class="form-control" id="recipe_decription" name="recipe_description" rows="2"
                        minlength="5" maxlength="250" required>
                {{- recipe.recipe_description -}}
                </textarea>
                </div>
            </div>
            <!-- Preparation Time -->
            <div class="row my-3">
                <div class="col-6">
                    <i class="fas fa-clock form-icon"></i>
                    <label for="recipe_preptime" class="form-label"><strong>Preparation Time</strong></label>
                    <input type="text" class="form-control" id="recipe_preptime" name="recipe_preptime"
                        value="{{ recipe.recipe_preptime }}" minlength="5" maxlength="50" required>
                </div>
                <!-- Recipe Yield -->
                <div class="col-6">
                    <i class="fas fa-drumstick-bite form-icon"></i>
                    <label for="recipe_servings" class="form-label"><strong>Number of Servings</strong></label>
                    <input type="text" class="form-control" id="recipe_servings" name="recipe_servings"
                        value="{{ recipe.recipe_servings }}" minlength="1" maxlength="50" required>
                </div>
            </div>
            <!-- Ingredients List -->
            <div class="row my-3">
                <div class="col">
                    <i class="fas fa-list-ul form-icon"></i>
                    <label for="recipe_ingredients" class="form-label"><strong>Ingredients</strong></label>
                    <textarea type="text" class="form-control" id="recipe_ingredients" name="recipe_ingredients"
                        minlength="5" required>
                {{- recipe.recipe_ingredients -}}
                </textarea>
                </div>
            </div>
            <!-- Method - Step 1 -->
            <div class="row my-3">
                <div class="col">
                    <i class="fas fa-mortar-pestle form-icon"></i>
                    <label for="recipe_step1" class="form-label"><strong>Step 1</strong></label>
                    <input type="text" class="form-control" id="recipe_step1" name="recipe_step1"
                        value="{{ recipe.recipe_step1 }}" minlength="5" required>
                </div>
            </div>
            <!-- Method - Step 2 -->
            <div class="row my-3">
                <div class="col">
                    <i class="fas fa-mortar-pestle form-icon"></i>
                    <label for="recipe_step2" class="form-label"><strong>Step 2</strong></label>
                    <input type="text" class="form-control" id="recipe_step2" name="recipe_step2"
                        value="{{ recipe.recipe_step2 }}" minlength="5" required>
                </div>
            </div>
            <!-- Method - Step 3 -->
            <div class="row my-3">
                <div class="col">
                    <i class="fas fa-mortar-pestle form-icon"></i>
                    <label for="recipe_step3" class="form-label"><strong>Step 3</strong></label>
                    <input type="text" class="form-control" id="recipe_step3" name="recipe_step3"
                        value="{{ recipe.recipe_step3}}" minlength="5">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mb-4">
                    <!-- Cancel Edit button -->
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-cancel">
                        Cancel <div class="i fas fa-times-circle right"></div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto mb-4">
                    <!-- Save Changes button -->
                    <button type="submit" class="btn btn-edit">
                        Save Changes <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}