{% extends "base.html" %}
{% block content %}


        <div class="row">
            <div class="col-md-5">
                <img src="{{ recipe.recipe_image }}" alt="Aloo Palak dish">
                <br>
            </div>
            <div class="col-md-7">
                <h2>{{ recipe.recipe_name.upper() }}</h2>
                <h4> {{ recipe.recipe_description }}</h4>
                <br>
                <h3>Ingredients:</h3>
                    <ul>
                        <li>{{ recipe.recipe_ingredients }}</li>
                    </ul>
                <br>
            </div>
        </div>
            <div class="row my-5">
            <div class="col-md-12">
                <h3>Method:</h3>
                    <ol>
                        <li>{{ recipe.recipe_step1 }}</li>
                        <li>{{ recipe.recipe_step2 }}</li>
                        <li>{{ recipe.recipe_step3 }}</li>
                    </ol>
                </div>
        </div>

{% endblock %}