{% extends "base.html" %}
{% block content %}


        <div class="row">
            <div class="col-md-5">
                <img src="{{ method.image_source }}" alt="Aloo Palak dish">
                <br>
            </div>
            <div class="col-md-7">
                <div class="col-12">
                <h2>{{ method.name }}</h2>
                <h4> {{ method.description }}</h4>
                <br>
                <h3>Ingredients:</h3>
                    <ul>
                        <li>{{ method.ingredient1 }}</li>
                        <li>{{ method.ingredient2 }}</li>
                        <li>{{ method.ingredient3 }}</li>
                        <li>{{ method.ingredient4 }}</li>
                        <li>{{ method.ingredient5 }}</li>
                        <li>{{ method.ingredient6 }}</li>
                        <li>{{ method.ingredient7 }}</li>
                        <li>{{ method.ingredient8 }}</li>
                    </ul>
                <br>
            </div>
        </div>
            <div class="row">
            <div class="col-md-12">
                <h3>Method:</h3>
                    <ol>
                        <li>{{ method.step1 }}</li>
                        <li>{{ method.step2 }}</li>
                        <li>{{ method.step3 }}</li>
                        <li>{{ method.step4 }}</li>
                        <li>{{ method.step5 }}</li>
                    </ol>
                </div>
        </div>

{% endblock %}