{% extends "base.html" %}
{% block content %}

<div class="container body-wrapper">
    <h1 class="text-center">{{ page_title }}</h1>

    <hr>
    <div class="row no-gutters text-center">
        {% for recipe in recipes %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2">
                <div class="card h-100 mx-2 mb-2">
                    <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.recipe_name.upper() }}</h5>
                        <ul class="list-unstyled">
                            <li><small><strong>Preptime: </strong>{{ recipe.recipe_preptime }}</small></li>
                            <li><small><strong>Yield: </strong> {{ recipe.recipe_servings }}</small></li>
                        </ul>
                        <p class="card-text"> {{ recipe.recipe_description }}</p>
                        <p><em>Created by: {{ recipe.created_by }}</em></p>
                        <div class=" align-self-end">
                            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="btn">See Recipe</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}