{% extends "base.html" %}
{% block content %}

    <h1>{{ page_title }}</h1>

    <hr>
    {% for test in recipes %}
        <div class="row no-gutters text-center">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ test.recipe_image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ test.recipe_name }}</h5>
                        <ul class="list-unstyled">
                            <li><small>{{ test.recipe_preptime }}</small></li>
                            <li><small>{{ test.recipe_servings }}</small></li>
                        </ul>
                        <p class="card-text"> {{ test.recipe_description }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}